[2016-06-02 08:03] ccronje opened #1 "Question re merging values when clustering"
I got a bit confused with "merging values" in the lesson https://github.com/data-lessons/library-openrefine/blob/master/lesson-materials/Basic-OpenRefine-functions-I.md#clustering

Merging values doesn't mean it merges rows or records does it? It just allows you to "clean up" values which leads to cleaner facets? Just thinking, librarians will be worried about this so it might be worth stepping th

[2016-06-02 08:26] ccronje opened #2 "NER Extension"
In reference to the NER demo issue logged in the Shell repo https://github.com/data-lessons/library-shell/issues/8 - I wonder if this NER Extension https://github.com/RubenVerborgh/Refine-NER-Extension could be a source for a NER demo in the advanced OpenRefine lesson? https://github.com/data-lessons/library-openrefine/blob/master/lesson-materials/Advanced-OpenRefine-functions.md

[2016-06-03 05:33] weaverbel commented on #1
@ostephens - Any thoughts on this since you are the expert :-)

[2016-06-03 07:26] #1 closed

[2016-06-03 07:52] ostephens commented on #1
Agree that "merge" is ambiguous but it is the term used in Refine so I think we are stuck with it.

 It is defined in the text on the first & second use the second defn being the clearer IMO: "'merging' the values together - that is replace with a single consistent value"

So it may make sense to use this defn throughout. Also agree an example might help although I think (hope) the exercises make

[2016-06-03 09:57] VictorE87 opened #4 "Typo in text"
In the Basic Open Refine functions I there is a typo in the last phrase of the paragraph about Filters

[2016-06-03 09:59] VictorE87 opened #5 "Exercise 5 doesn't work that way"
I tried to do everything in Exercise 5 of Basic OpenRefine functions I, but switching from rows to records mode doesn't change anything in the numbering

[2016-06-03 10:59] VictorE87 opened #6 "Typo in Basic OpenRefine Functions ||"
In the introduction there is a sentence which says that GREL expressions are (to some extend) similar to Excel Forumla, which has to be Excel Formula

[2016-06-03 11:42] VictorE87 commented on #6
The first sentence in the second paragraph after the heading Data Types is misspelled

[2016-06-03 12:51] VictorE87 opened #7 "Expression not well explained"
In Exercise 10 you have to use match to find the comma's in the names of the authors and then split it in an array. I think that match is not enough explained in the text. It is not in the text before the exercise and it is not clear enough what those asterisks or slashes mean. I think it could be better explained

[2016-06-03 14:19] VictorE87 opened #8 "Questions for Basic Functions l"
The following questions can be added at the beginning of the page of the page of the lesson about Basic Functions in OpenRefine I:
- How to import data into OpenRefine?
- How to adjust data in OpenRefine using basic functions?

[2016-06-03 14:29] VictorE87 opened #9 "Questions for Basic Functions lI"
The following questions can be added at the beginning of the page of the page of the lesson about Basic Functions in OpenRefine II:
- How to make transformations in datasets using OpenRefine?

[2016-06-03 15:53] ostephens commented on #8
Fixed by 3d0b28178843ccf005f6da1f8d105672d43a407d

[2016-06-03 15:54] ostephens commented on #6
"Excel Forumla" typo fixed by 3d0b281

[2016-06-03 15:58] ostephens commented on #6
Can't see the other typo. @VictorE87 can you clarify what is misspelled after the Data Types heading?

[2016-06-03 15:59] ostephens commented on #4
@VictorE87 can you say what the typo is - I'm struggling to find it

[2016-06-03 16:02] ostephens commented on #5
Can't recreate this problem. When I follow Exercise 5 it seems to work for me. See screenshot - no number in second row (Angelo Plastino in Author col) as expected:

<img width="548" alt="screen shot 2016-06-03 at 17 00 58" src="https://cloud.githubusercontent.com/assets/576174/15784971/da63250c-29ac-11e6-952c-a0adff89e284.png">

Can someone else test?

[2016-06-03 20:16] #8 closed

[2016-06-04 22:11] ccronje commented on #5
@ostephens @VictorE87 This exercise works for me. 'Split multi-valued cells in column Authors' shows 4009 rows, then switching to records shows 1001 records. (I'm using OpenRefine version 2.6-rc.2)

[2016-06-06 10:14] ostephens opened #13 "Maintaining the lesson"
I am happy to volunteer to maintain this - anyone else willing?

[2016-06-06 10:17] ostephens opened #14 "Split "Basic OpenRefine functions I" into more granular lessons"
Suggest the following:
1. Layout, organising columns, sorting data (all teaching)
2. Introduction to facets and filters
3. Introduction to rows and records
4. Introduction to clustering

[2016-06-06 10:20] ostephens opened #15 "Split Episode 07 Using Transformations into more granular lessons"
Suggest:
1. Introduction to Transformations
2. Writing Transformations
3. Undo and Redo
4. Exporting data
5. Introduction to data types
6. Working with Arrays

[2016-06-06 10:22] ostephens opened #16 "Split "Advanced functions" into more granular lessons"
Suggest:
1. Retrieving data from another source
2. Introduction to Reconciliation
3. Using OpenRefine Extensions

[2016-06-06 11:29] weaverbel commented on #14
+1 to that. Also some of the UCSD people were quite excited about the GREL abilities so a more advanced GREL bit would probably be appreciated, e.g. I used a GREL thing to turn two columns into one so I could have a single column for a name instead of forename in one and surname in another. (I copied to another column and then combined.) Really useful thing to show I think as well as showing how t

[2016-06-06 11:31] weaverbel commented on #16
@ostephens Have also had people wanting to know how to combine two different datasets - is that covered anywhere?

[2016-06-06 12:45] ostephens commented on #14
Exercise 10 (currently in basic functions II) could be changed to include the creation of new columns for family name and first name(s).

[2016-06-06 12:48] ostephens commented on #14
I think the challenge with adding more GREL is time. I think there is probably over 3 hours worth of material here already so the question becomes what to take out to add more on writing GREL expressions?

[2016-06-06 12:50] ostephens commented on #16
It depends what you mean. Advanced Functions covers looking up data from a remote data source and bringing it into your own data set in two ways - that is using lookup by URL and using reconciliation. What isn't covered in any detail is the 'cross' function which allows you to look up data from another OpenRefine project (this is mentioned but not demonstrated)

[2016-06-06 23:13] weaverbel commented on #14
@ostephens Good point. Let's go down the GREL road if we look at developing a really advanced OpenRefine class. Maybe some of the UCSD people might step up as they were keen. Fine to leave it for now.

[2016-06-19 01:49] ccronje opened #18 "headers not rendering correctly"
Episodes 02 and 06 aren't rendering as they should (see http://data-lessons.github.io/library-openrefine/). Viewing the other files, it looks like they need a blank line in between the end of header and first heading:

[code]

[2016-06-28 23:41] ccronje commented on #13
Happy to volunteer here as well

[2016-06-28 23:42] weaverbel commented on #13
@ostephens @ccronje I've got a nice messy dataset on solar patents I scraped from IP Australia. Good candidate for data cleanup.I'll upload it into the data area when I get a chance.

[2016-06-30 14:38] drjwbaker commented on #18
I think I've fixed this one.. :)

[2016-06-30 14:38] #18 closed

[2016-07-06 17:05] pitviper6 commented on #13
I can step up as well to maintain. I want to improve my lesson on the anti-slavery petitions anyway!

[2016-07-06 23:26] pitviper6 commented on #14
Hey, a UCSD person here!  I'll work on developing a grel lesson - if we keep these bits fairly modular, we can plug and play depending on the sophistication of our audience.

[2016-07-07 09:18] ccronje commented on #4
@ostephens the only thing I can spot is a missing full stop "You can also use regular expressions in the filter"

[2016-07-07 09:28] ccronje commented on #2
Maybe this could be added to Extensions in http://data-lessons.github.io/library-openrefine/05-advance-functions/? Is it of interest?

[2016-07-07 09:33] ccronje commented on #6
@ostephens I think it's this one

[2016-07-07 10:57] ostephens commented on #4
Thanks @ccronje - PR now submitted

[2016-07-07 10:57] ostephens commented on #6
Thanks @ccronje PR now submitted

[2016-07-07 12:42] ccronje commented on #6
Thanks @ostephens - is "Data types in OpenRefine" missing a triple hash? (looking at "Dates and Numbers" just below it)

[2016-07-07 13:22] ostephens commented on #6
It is - I saw that earlier and thought it had been fixed but obviously not. I've added a fix to the PR

[2016-07-07 16:35] pitviper6 commented on #7
Added a brief explanation of the expression, and created a PR.

[2016-07-07 22:17] #6 closed

[2016-07-07 22:18] #4 closed

[2016-07-07 22:19] ccronje commented on #7
Thanks @pitviper6

[2016-07-07 22:19] #7 closed

[2016-07-07 22:33] pitviper6 commented on #7
You're welcome!  I hope my explanation makes sense, lol!

[2016-07-07 22:47] ccronje commented on #14
+1 to a GREL lesson. I think it would be a nice way to isolate/focus on the many functionalities of OR.

[2016-07-07 23:07] weaverbel commented on #14
Another very enthusiastic +1 to some GREL @pitviper6 ! People in my last workshop were quite keen to learn more GREL. Joining columns, splitting columns would be good, replacing text/deleting text, etc

[2016-07-09 12:46] ccronje commented on #5
@ostephens Not sure if this is a bug/design but the number of rows = number of records if Authors is the first column. Might need to add a note about this incase they move around columns in earlier exercise. Also, if they accidentally select `Edit column > Split into several columns...` the numbers of rows and records are the same. Perhaps a caveat may help.

[2016-07-10 12:23] ccronje commented on #13
That'd great @pitviper6 - we've been talking on gitter about forking a separate repo for dh-openrefine to make it easier to manage the two streams. @weaverbel should the repo be part of the library team https://github.com/orgs/data-lessons/teams/library/repositories? Are you able to add @ostephens and @pitviper6 please?

[2016-07-11 06:57] drjwbaker commented on #2
It is there really to demonstrate the other things can be done with the shell than just cd around, ls directories, and grep files: that is, fire up complex software (R, NER stuff, et cetera). Perhaps that is just as well explained as done here.

@ostephens: do you have an existing NER OpenRefine demo that could be slotted into that lesson? Perhaps as homework?

[2016-07-11 07:29] drjwbaker commented on #13
Has this happened?

[2016-07-11 08:38] ostephens commented on #5
That's OR design - ORs handling of 'records' is quite delicate as it depends on blank spaces to know that items belong to the same record. If you move the Author column to be the first column then after the split all the cells in the first column are populated (no blanks) and so OR assumes each is a separate record.

[2016-07-11 13:22] ostephens commented on #2
@drjwbaker I don't have any NER in OR demo/exercises at the moment I'm afraid

[2016-07-11 14:13] drjwbaker commented on #2
@ostephens Okay. I'll have a think.

[2016-07-12 00:56] DanielBaird opened #26 "Address table in intro lesson has inconsistent data columns"
The table of addresses in `01-introduction` has an initial column containing addresses all concatenated into a single field, and following columns which I assume are there to show a nice clean breakdown of the address into separate fields.

However the following columns are erratically filled -- there are postcodes in the country column, etc.

I'm delivering this lesson soon so I might get some ti

[2016-07-12 11:07] ccronje commented on #13
@drjwbaker I can't see a way to invite @ostephens and @pitviper6 with my permissions - I think 'team maintainer' role or higher can. Another way: Owen and Juliane might be able to see a 'request to join' on this page https://github.com/orgs/data-lessons/teams

[2016-07-12 11:47] ostephens commented on #13
I think invitations have to be issued - I don't see a 'request to join' option

[2016-07-12 13:02] pitviper6 commented on #13
I can't fibnd a request to join eiither

[2016-07-13 01:47] weaverbel commented on #13
Hi all - this needs to be done by @tracykteal - Tracy can you please add @ostephens and @pitviper6  as part of the library team https://github.com/orgs/data-lessons/teams/library/repositories ?
Thanks
Belinda

[2016-07-13 04:00] tracykteal commented on #13
done!

[2016-07-13 10:49] ostephens commented on #13
I now have access - thanks @tracykteal
Assuming this can be closed now

[2016-07-13 10:49] #13 closed

[2016-07-13 22:53] ccronje opened #27 "forking to dh-openrefine repo"
@weaverbel I think @tracykteal may need to do this as well please.

[2016-07-14 00:04] weaverbel commented on #27
@ccronje @ostephens I couldn't fork it either, but I do have powers to create a new repo altogether here. Could we do it that way - I create a repo with the right name and then I could clone the existing one to my local machine, rename it to the new repo name, and then push to the new repo from the command line. Would that work? I think so.

[2016-07-20 02:51] ccronje commented on #27
@weaverbel I wonder if this will make syncing/updating overlapping content complicated? But if the two repos have completely separate lives your solution sounds logical :-)

[2016-07-20 03:36] weaverbel commented on #27
@ccronje One day I will get to this ... just completely swamped at the moment

[2016-07-22 11:38] ccronje commented on #27
@weaverbel I'm able to create a new repo too so I tried. I ended up doing it in GHdesktop as I was having cryptic message troubles on the commandline. I cloned library-openrefine and dh-openrefine, copied the files over, then commited & synced dh-openrefine. However, the gh-pages branch from library-OR defaulted to master branch on dh-OR so the jekyll rendering is not working, and I didn't realise

[2016-07-25 09:07] ccronje commented on #27
@weaverbel I deleted the new repo to avoid any confusion. The only activity had been my own.

[2016-07-26 07:38] drjwbaker commented on #26
@ostephens @pitviper6 @ccronje Any thoughts on this?

@DanielBaird Where are you delivering this lesson, may I ask?

[2016-07-26 07:39] drjwbaker opened #28 "Lesson question FIXMEs"
See http://data-lessons.github.io/library-openrefine/ Anyone willing and able to take on tidying this up?

[2016-07-26 07:44] ostephens commented on #26
That was my error. I hate doing tables in Markdown!

Now corrected

[2016-07-26 07:44] #26 closed

[2016-07-26 08:31] drjwbaker commented on #26
Thanks @ostephens!

[2016-07-26 13:11] pitviper6 commented on #26
Hi!  Sorry I've been so quiet lately, but we just finished up our LC workshop (very successful, we've got several people starting to really dig in to Open Refine). I'm also moving from San Diego to Chicago at the end of the week, so my life is super chaotic right now!  I'll be on the road until August 8, but after that, the San Diego team is planning on using August to work on the current lessons

[2016-07-26 16:51] drjwbaker commented on #26
@pitviper6 Great! OpenRefine is a favourite among library folks.

[2016-07-26 17:27] remerjohnson commented on #2
The makers of that extension have a mini-lesson. It obviously stops short, but at least gets you started.
http://freeyourmetadata.org/named-entity-extraction/

[2016-07-27 10:14] drjwbaker commented on #2
Thanks @remerjohnson!

[2016-07-28 02:42] cmacdonell commented on #27
In a nutshell, forking is not the way to go about it.  The new repo is ready now https://data-lessons.github.io/dh-openrefine/

[2016-07-28 08:04] ccronje commented on #27
Many thanks for your help @cmacdonell. Can you please outline the steps I should have taken to copy the repo over? For next time :-)

[2016-07-28 11:00] #27 closed

[2016-07-28 11:13] ccronje commented on #28
FIXMEs tidied. New digital humanities repo created https://github.com/data-lessons/dh-openrefine to help manage library and dh strands.

[2016-07-28 11:13] #28 closed

[2016-08-19 12:32] ccronje commented on #5
Thanks @ostephens. I think this can be closed now.

[2016-08-19 12:32] #5 closed

[2016-08-19 12:43] ccronje commented on #9
'Transformations' question and objective added to header: http://data-lessons.github.io/library-openrefine/04-basic-functions-II/

[2016-08-19 12:43] #9 closed

[2016-08-26 15:31] pitviper6 commented on #14
I'm starting to address this issue by breaking this into more granular lessons.  Just to be clear, we want four separate episodes, with titles like "Basic Open Refine Functions: Layout, Columns and Sorting"; "Basic Open Refine Functions: Facets and Filters" etc.?

[2016-08-27 01:22] weaverbel commented on #14
@pitviper6 Sounds good. @ostephens any thoughts?

[2016-08-27 15:05] ostephens commented on #14
@pitviper6 Yes - that was basically my view - basically I thought this would benefit from being shorter lessons - say 15-20 minutes at a time rather than 60 minutes all together.

Probably the biggest part of the work is adding appropriate questions/aims to each part of the lesson :)

[2016-08-27 15:37] pitviper6 commented on #14
Cool, I was on the right wavelength. I was thinking about structuring it as a demo with some library data I've got, and then use the current lesson data as exercises to which they can apply the stuff they learn in the demo to reinforce the concepts.

[2016-09-06 11:05] ostephens opened #38 "Add an exercise to demonstrate GREL 'replace' function"
value.replace() is a simple but powerful function, it would be good to have an exercise to demonstrate this

[2016-09-07 12:55] drjwbaker commented on #38
Are you happy to take this on or looking for a co-author?

[2016-09-08 08:45] weaverbel commented on #38
@ostephens @drjwbaker I am going to teach this tomorrow so an easy place to slot in in with the existing data set and lessons  is using `value.replace` to change the pipe to a colon before you split author names into separate cells. GREL is Edit cells -> Transform `value.replace("|", ":")` Then when you split the cells in the next exercise you just say the separator is a colon now instead of a pip

[2016-09-13 08:29] mkuzak opened #41 "numbering of exercises"
Currently exercises are numbered across whole lesson. For example exercises 1 in episode 1 and then 2, 3, 4 in episode 2. I find it more intuitive and easier to maintain when the numbering is per episode. I was wondering what other people think about it.

[2016-09-13 08:39] mkuzak opened #42 "link to dataset"
There is no link which learners could use to download the dataset. Its actually hard to get the dataset now. You need to navigate on github to data directory, then view raw and then save as...
My questions are:
* Shall we put data on figshare and add links in the lessons?
* What is the origin how is it licensed?
* Do we have any description of the dataset to add on figshare page?

I'm happy to do

[2016-09-13 09:16] drjwbaker commented on #41
When teaching it in real life, having Exercise 1 in episode 2 and Exercise 2 in episode 3 makes more sense to me. But it you take them in chucks I can see how this might not be intuitive. Can we compromise on 1.1 (for ep1 ex1), 1.2 (for ep1 ex2), 3.1 (for ep3 ex1) et cetera?

[2016-09-13 09:16] drjwbaker commented on #42
Which dataset are you referring to here?

[2016-09-13 09:17] mkuzak commented on #41
+1 for 1.1 1.2 syntax

[2016-09-13 09:19] mkuzak commented on #42
I thought about
https://github.com/data-lessons/library-openrefine/blob/gh-pages/data/doaj-article-sample.csv
but that applies to all three datasets in `data` directory.

[2016-09-13 09:25] drjwbaker commented on #41
If this is proposed to go across all the lessons we need to loop in all the lesson maintainers.

[2016-09-13 09:26] mkuzak commented on #41
true, I can open an issue on data-lessons/librarycarpentry

[2016-09-13 09:26] drjwbaker commented on #41
Okay. The other option is to leave it as it is, describe the process of downloading 'raw' data from the GitHub website, and see that as a learning outcome?

[2016-09-13 09:35] mkuzak commented on #41
Your last comment refers to issue #42 ?

[2016-09-13 09:45] drjwbaker commented on #41
Oops. Yes :)

[2016-09-13 09:45] drjwbaker commented on #42
Okay. The other option is to leave it as it is, describe the process of downloading 'raw' data from the GitHub website, and see that as a learning outcome?

[2016-09-13 09:50] mkuzak commented on #41
I just looked at how it is done in SC lessons. And there is no numbering at all. Also the new templates allow for nicer rendering of exercises with hiding of the solutions. My suggestion is to just stick to how it's done in SC.

[2016-09-13 09:55] drjwbaker commented on #41
Okay.

[2016-09-13 12:16] mkuzak commented on #42
I don't like it, because this lesson is about openrefine and not github and we loose focus that way. I think putting it on figshare and adding link is more elegant, but we need more info from people who contributed datasets. On the other hand it's not a big deal so I can leave with your solution too.

[2016-09-13 12:23] mkuzak opened #44 "some exercies are actually walk-through examples"
Some of current exercises / challenges are actually walk-through examples, just part of the lesson. My suggestion is to integrate them with the rest of the lesson and add some real exercises.
Just to make it clear, for me an exercise is when students use just acquired skills to solve new (but similar) problem.

[2016-09-14 06:46] drjwbaker commented on #42
Okay. Makes sense. Figshare just feels like too formal a venue. Do we really want to mint a DOI for a sample training dataset? What do DC/SWC do?

[2016-09-14 13:29] ostephens commented on #42
I don't think Figshare is appropriate - especially as the data may have been deliberately doctored to an incorrect or less well formatted state in order for the lessons to work.

For the main data file used in the lesson, the link in setup.md goes directly to the raw file on github to avoid the issue with having to switch to the raw view of the file in github. This seems an OK approach to me.

[2016-09-14 13:39] mkuzak commented on #42
@drjwbaker @ostephens I don't think we need a DIO. I suggested Figshare for convenience.  DC stores ecology dataset on [Figshare](https://figshare.com/articles/Portal_Project_Teaching_Database/1314459)

[2016-09-14 13:41] ostephens commented on #42
I don't understand the logic of using Figshare for this. What is wrong with a link to the raw file on Github?

That said I'll go with a majority view

[2016-09-14 13:45] mkuzak commented on #42
Git in general is not a good place to store data. This is not so much of a problem with small csv files, but:
- big files slow down git considerably
- `xlsx` files dont diff well

[2016-09-14 13:47] ostephens commented on #42
We are only storing small files, and diff isn't a particular requirement I don't think?

[2016-09-14 13:55] mkuzak commented on #42
Fair enough, lets keep it in github then.
One last question. When is more intuitive / easier to do:
- use [this url](https://github.com/data-lessons/library-openrefine/blob/gh-pages/data/UCSD_Guardian.csv) and click download button
- use [this url](https://raw.githubusercontent.com/data-lessons/library-openrefine/gh-pages/data/doaj-article-sample.csv) and do `File` -> `Save as...` in browser

I li

[2016-09-14 13:59] mkuzak commented on #42
I also recall two of the reasons to use Figshare for hosting datasets in DC case were:
- easier programatic download (form iPython or R console)
- multiple lessons using the same dataset

[2016-09-14 13:59] ostephens commented on #42
Clicking the button redirects to the second URL - so I think the second approach is better because it saves a click and allows us to put explicit instructions on the screen next to the link (the behaviour of the download button is at the mercy of the browser)

[2016-09-14 14:02] mkuzak commented on #42
You're right. Actually clicking the button has different results, depending on type of the file. It does work differently with `.xlsx` files.
Lets keep the current solution then and sorry for getting you into this whole rant.

[2016-09-14 14:02] ostephens commented on #42
Those two reasons make sense to me but I don't think apply in this case (not yet at any rate).

[2016-09-14 14:04] ostephens commented on #42
No problem. I note (now) that the library-sql lesson uses Figshare .... hmmm

[2016-09-14 14:04] mkuzak commented on #42
:)

[2016-09-14 14:05] mkuzak commented on #42
We can also take this discussion to gitter channel and see if people have strong opinions about it.

[2016-09-14 14:06] ccronje commented on #42
We seem to be missing this 'Setup' menu item in our rendered lessons (for example see http://swcarpentry.github.io/shell-novice/setup/).

[2016-09-14 14:07] mkuzak commented on #42
Yes, this is why I started this whole discussion :). I did miss the existence of setup.md file though.

[2016-09-14 14:08] ostephens commented on #42
Any idea why the setup menu item isn't there? It contains essential info for this lesson

[2016-09-14 14:13] pitviper6 commented on #42
Just chiming in to say that the UCSDGuardian dataset wasn't edited, but I didn't originate the doaj lesson, so I don't know if that one has been doctored to include errors for cleanup.

[2016-09-14 14:15] pitviper6 commented on #42
@ostephens I have no idea why the setup isn't there, but it would be good to include it!  We could add that as a new issue.

[2016-09-14 14:16] mkuzak commented on #42
I think we can close this issue and add the menu item related

[2016-09-14 14:16] ostephens commented on #42
I made changes to the DOAJ dataset for the purposes of illustrating specific functionality in OR. None of these are factual changes, just structural

[2016-09-15 01:30] ccronje commented on #42
The _Setup menu item_ is an issue across lessons so I've created an issue over here https://github.com/data-lessons/librarycarpentry/issues/9. Closing this one now.

[2016-09-15 01:30] #42 closed

[2016-09-15 01:35] ccronje commented on #41
Closing this now as @mkuzak will implement this (discussion at #43).

[2016-09-15 01:35] #41 closed

[2016-09-15 01:36] ccronje commented on #44
Closing this now as @mkuzak will implement this (discussion at #43).

[2016-09-15 01:36] #44 closed

[2016-10-11 17:16] drjwbaker opened #48 "Pulling in further examples"
So, @scottythered (metdata & archive person) pointed me to his excellent Refine tutorial.

At https://github.com/scottythered/gratefuldata/wiki/Module-1E:-ASCAP-Data-(Further-Cleaning-and-Enriching)#enriching he demonstrates `cell.cross`. I must admit I wasn't aware of this functionality (and wish I was!) Are any of the datasets or examples that we have compatible with adding something about this

[2016-10-11 17:24] scottythered commented on #48
Would be happy to join up if you need any volunteers in the future!

[2016-10-11 17:38] pitviper6 commented on #48
This is great! I'll take a look and see if it would work with the UCSDGuardian data.

[2016-10-11 18:46] ostephens commented on #48
The cross function is covered right at the end of the Advanced lesson but there isn't currently any practical exercise attached - this was due to time limitations in the original sessions. It's incredibly useful - I use it all the time. Recommend checking out the VIB BITS extension which makes it even easier to use

[2016-10-11 18:47] ostephens commented on #48
Oh and @scottythered's tutorial is v cool

[2016-10-12 08:43] drjwbaker commented on #48
Okay. I sensed that time was/remains a limiting factor in the functionality we can teach here. But if is can worked into the exercises in some way, that would be great. Thanks for the offer @scottythered. We always need fresh eyes. @pitviper6 & @ostephens coordinate this lesson, so I'll leave it to you three to discuss potential development areas.

[2016-10-23 12:00] richyvk opened #49 "Where to DL the doaj-article-sample.csv file"
Hi.

Exercise 1 on the page http://data-lessons.github.io/library-openrefine/02-importing-data/ asks you to "locate the file called which you previously downloaded ‘doaj-article-sample.csv’". I can't find any reference on where you can DL this file from?

[2016-10-23 12:11] richyvk opened #50 "Missing image files"
Exercise 5 on lesson 3 page (http://data-lessons.github.io/library-openrefine/03-basic-functions-I/) links to two files, records.png and rows.png. These files are missing from assets/img folder so the links are broken :(

[2016-10-23 14:05] cmacdonell commented on #49
Hi,

the file is the data directory in the repo: https://github.com/data-lessons/library-openrefine/blob/gh-pages/data/doaj-article-sample.csv

But it should be linked somewhere, I recall it was.  Thanks for catching that.

[2016-10-23 14:13] mkuzak commented on #50
@cmacdonell that was a mistake, I was applying a new template and did not realise I'm deleting images used in the lesson.

[2016-10-23 14:30] mkuzak commented on #50
Fixed in new pull request.

[2016-10-23 14:32] ostephens commented on #49
The directions to download the file are in the 'setup' https://github.com/data-lessons/library-openrefine/blob/gh-pages/setup.md

[2016-10-23 21:26] richyvk commented on #49
Aha. I didn't even notice the setup page! Perhaps a link to it at the point in lesson 2 where the file is mentioned might be good?

[2016-10-23 23:38] #50 closed

[2016-10-24 10:17] ostephens commented on #49
Fixed by PR #52

[2016-10-24 10:17] #49 closed

[2016-10-31 06:03] weaverbel commented on #38
@ostephens @drjwbaker Are you okay with me adding a bit of value.replace() to the existing lesson? Happy to do that if you agree - but people do like to know that's possible.

[2016-10-31 09:53] ostephens commented on #38
I'd like to see a more meaningful use of the replace function if we can manage it. Also, putting it at this point means leaping to the concept of a 'transform' before the right point in the lesson (transforms aren't introduced until the next episode).

I'll have a look and think

[2016-10-31 10:23] ostephens commented on #38
I've done a quick review of the data as it currently stands and I can't see any very obvious use of the 'replace' function that makes sense. In order to demonstrate the replace function I think we need to introduce some inconsistency to the example data set that can be fixed using 'replace'.

A simple suggestion: if we edited some of the ISSNs that contain an 'X' to contain a lowercase 'x' instead

[2016-10-31 12:20] drjwbaker commented on #38
Seems sensible. Thanks.

[2016-10-31 23:43] weaverbel commented on #38
That's fine @ostephens - it's just I'd like to see it somewhere in there as people would find it useful. Your idea sounds a good one.

[2017-04-03 15:39] wjbfarrell opened #53 "Support for Mercian Research Data Management Group (UK)"
Hello,

I have been talking to James Baker about Library Carpentry providing some infrastructural support for the [Mercian RDM Support Group ](https://merciancollaboration.org.uk/research-data-management-support-group).  We were particularly interested in running a workshop on Open Refine. I wonder if anyone would like to explore this further with us.

Thanks,

William Farrell,
University of Leice

[2017-04-04 06:53] ostephens commented on #53
Hi @wjbfarrell

I'd be happy to explore this with you. I'm based in Leamington Spa (near Coventry) and wrote and delivered the original library carpentry OpenRefine lesson. Probably easiest if we move the discussion to email? (owen at ostephens.com)

[2017-04-04 09:26] jezcope commented on #53
@wjbfarrell I may be able to help too. I can certainly give you some pointers on hosting a Library Carpentry course. We still need to agree internally how much of my time I can dedicate to LC but I might be able to do some instructing too.

PS. Say hi to Laurian, I think she was up here in Sheffield last week but I missed her.

[2017-04-04 09:30] wjbfarrell commented on #53
Hi Jez, thanks. Let me know what your email is, and I'll include you in the message I was going to send to Owen.

Laurian says hi.

[2017-04-04 09:35] jezcope commented on #53
@wjbfarrell j dot s dot cope at sheffield dot ac dot uk (though I'm sure most spam bots are clever enough to see through simple transforms like that these days!)

[2017-04-04 09:57] drjwbaker commented on #53
Thanks for picking this up @ostephens & @jezcope.

[2017-04-04 09:57] #53 closed

[2017-04-25 17:34] evanwill opened #54 "link style"
Looking though the lesson I noticed that links to additional resources are given as full URLs not hyperlinks, for example:

Rather than, say [GREL documentation](https://github.com/OpenRefine/OpenRefine/wiki/General-Refine-Expression-Language).
Software carpentry typically uses hyperlinks, not full URLs, which is a bit easier to read.
Is there a reason for the current style, or could we switch it

[2017-04-25 23:11] weaverbel commented on #54
@evanwill I don't think there has been a discussion about which way to go - I think this is just how it has happened. I'll post the link to the issue in the chat room and see what people think.

[2017-04-26 06:49] drjwbaker commented on #54
I'm in favour of full citations where possible.

[2017-04-27 01:12] richyvk commented on #54
Hyperlinks satisfy the semantic web geek in me. They are easier to read.

[2017-04-27 02:02] weaverbel commented on #54
I am pro full links as well (though I used hyperlinks on the contrib and readme files I just updated for the Mozilla sprint.)

[2017-04-27 08:08] ostephens commented on #54
I think we've got two in favour of fully written out URLs and two in favour of using a hidden hyperlink.

I'm reasonably neutral on this, but I'm probably responsible for the fully written out URLs that are there already, so I guess that shows I'm biased in that direction!

Any more views?

[2017-04-27 18:41] evanwill commented on #54
I typically use full URLs in footnotes and references at the bottom, but it seems distracting in the lesson text, making it much less compact. I also see it as a consistency issue since the other Software, Data, and Library carpentry lessons use regular hyperlinks, not full URLs in the lesson text.

[2017-04-27 18:47] evanwill commented on #54
Here is the Software Carpentry lesson template example for reference: http://swcarpentry.github.io/lesson-example/

[2017-04-27 19:03] ostephens commented on #54
@evanwill I understand but opinion seems to be divided here, and I found an example of a full URL being used in the first SWC lesson I looked at https://github.com/swcarpentry/r-novice-gapminder/blob/gh-pages/_episodes/01-rstudio-intro.md

[2017-04-27 20:27] remerjohnson commented on #54
I hate to say "it depends", but sometimes a full address can be incredibly nasty and really pays to put into a shortened form. I also think that encourages more linking (like linking to an ambiguous/esoteric term's Wikipedia page).

I also like footnote-style linking, which is also real nice to write in Markdown, but I know some people do not like that style.

[2017-04-27 20:34] evanwill commented on #54
@ostephens there is only one full URL in that whole lesson, in a block quote:

It's probably an oversight in that particular lesson, and in general the hyperlink text should be meaningful, so the way that link is written wouldn't work well. For example, [Further reading](http://floating-point-gui.de/) is not so good, but "Learn more at [The Floating-Point Guide](http://floating-point-gui.de/)" wou

[2017-04-27 22:22] ostephens commented on #54
It feels like we're spending more energy on this than it deserves. If someone submits a PR with these converted to hyperlinks I'll review & accept unless good reason not to

[2017-04-27 22:54] ostephens commented on #54
Sorry, that was a bit abrupt/rude. What I meant to say was: I'm absolutely ok with using hyperlinks, and I accept that this makes for nicer reading etc. And if someone would make an appropriate pull request then I'm happy to review & merge

Sorry for being a bit short in my previous reply

[2017-04-27 23:52] ccronje commented on #54
URLs are useful for hard copies - colleagues like to have a hard copy by their side during a workshop and have suggested a handout for each lesson would be good (perhaps we could look at this for Moz Sprint?). But wrt this thread, a compromise may be hyperlinks in-text plus footnotes for full URLs. If that is overkill, I'd welcome a lesson handout summary with key URLs.

[2017-04-28 00:16] evanwill commented on #54
Sounds good. I hope to do some work on it during the June 1 sprint. I just did a workshop and wrote another tutorial on it, so it's on my mind.

[2017-04-28 02:34] weaverbel commented on #54
I think an example of ugly and unreadable URLs are those, say, for a Google Doc - I tend to use URL shorteners for those to make them memorable. The reason I like spelled out URLs is I have a quasi-photographic memory, so if  I've seen a URL, I can recall it. Obviously that doesn't work with hyperlinks. Starting to wonder if we need to develop a Style Guide????

[2017-05-03 02:36] ccronje opened #57 "Exercise 8"
Hi @ostephens, the publishers in this example don't appear to be in uppercase in the csv download.

[2017-05-03 07:33] ostephens commented on #57
@ccronje it is the article Titles for articles published by those particular publishers that are in uppercase, not the publisher names.

Do you think wording of exercise could be improved to make this clearer?

[2017-05-03 13:43] ccronje commented on #57
Sorry @ostephens, I don't know why I didn't see it. Wording is good thanks.

[2017-05-03 13:43] #57 closed

[2017-05-12 06:07] ccronje opened #59 "Test lesson with latest OpenRefine"
Test lesson with latest version of OpenRefine (download from https://github.com/OpenRefine/OpenRefine/releases/)

[2017-05-12 06:13] ccronje opened #60 "Create a handout for learners"
Referencing discussion https://github.com/data-lessons/library-openrefine/issues/54#issuecomment-297873585 - learners do like to have a handout by their side during a workshop. Not sure where this should live in the repo.

[2017-05-12 06:29] ccronje commented on #48
There was talk in Portland of swapping out data in lessons to make them 'flexible' but under the umbrella of information science - but I'm not sure how easy this would be seeing many exercises are dataset-specific.

Would you like me to:
1. Create a mozsprint issue to discuss how best to swap out data
2. Create a mozsprint issue for including an example for 'Using the ‘cross’ function to lookup da

[2017-05-12 08:31] ostephens commented on #48
@ccronje yes please!

Agree with your concerns about swapping out data - the only realistic way I can see of achieving this is separate lessons with separate data sets - I think the SWC templating system means it's difficult to achieve this in a sensible way with GitHub - but v open to suggestions for achieving this as there is obvious demand.

[2017-05-12 11:12] drjwbaker commented on #60
@ccronje I think this is a more general point. I use a handout for the shell lesson but don't have anywhere obvious to put it within the template.

So alongside developing specific handouts for specific lessons like this, shall we make handouts and their locations in the repos/sites a general sprint task? If we do this, we also need to consider writing up a workflow for turning a .md handout doc i

[2017-05-12 14:07] weaverbel commented on #60
+1 to making this a sprint task @ccronje @drjwbaker. I think pandoc is OK - I've used it on Linux and Windows - as long as we give clear instructions, that is OK. This may well be a task librarians would want to do/feel comfortable with. If we think it's a go, I'll add it to the README/CONTRIBUTING files.

[2017-05-12 14:08] weaverbel commented on #48
@ccronje @ostephens

Voting for 1. Create a mozsprint issue to discuss how best to swap out data

[2017-05-12 15:59] drjwbaker commented on #60
Thanks @weaverbel. I'd encourage any workflow we use to also offer a GUI and/or web based solution for converting .md to presentation formats, for example http://dillinger.io/

I've opened an issue at https://github.com/data-lessons/librarycarpentry/issues/30 @ccronje: this doesn't supersede this issue, as this is about a handout for the Refine lesson; the other issue is about making a place for l

[2017-05-12 16:10] ostephens commented on #60
Best solution IMO would have the handout build from the lessons at the same time as the html site? Am I being over ambitious?

[2017-05-12 16:32] drjwbaker commented on #60
Probably :) I was just thinking of a handout as a flat document that lives in the repo and contained key reference materials for the lesson. So no more than 2 sides of A4. The highlights if you will. This should limit having to manage handouts too much as lessons evolve (my shell one is basically unchanged since the first time I taught shell).

[2017-05-13 00:35] ccronje opened #61 "Add exercise to demonstrate 'cross' function"
Create an example for 'Using the ‘cross’ function to lookup data in other OpenRefine projects'

Originally discussed https://github.com/data-lessons/library-openrefine/issues/48#issuecomment-253008018

[2017-05-13 00:46] ccronje opened #62 "Discuss swapping out data in the OpenRefine lesson"
A need has been voiced in the community to facilitate swapping out data in lessons to better suit learners (e.g. librarians, humanists, archivists and more). Is this flexibility possible? Or are separate lessons with separate data sets the way forward? Please discuss.

Originally discussed https://github.com/data-lessons/library-openrefine/issues/48#issuecomment-300994928

[2017-05-13 00:48] ccronje commented on #48
Closing this issue as the topics of discussion have been incorporated into new mozsprint issues.

[2017-05-13 00:48] #48 closed

[2017-05-13 11:10] ccronje commented on #14
Hi @ostephens @weaverbel @pitviper6, just going through each issue for mozsprint. Can you please let me know if this sounds ok?

1. Do we still want to split this into 4 ~20min episodes? If not, I'll close the issue
2. [new issue] Modify Exercise 10 to include the creation of new columns for family name and first name(s) using GREL transformation
3. [new issue] Create advanced GREL exercises (the

[2017-05-14 08:12] ccronje commented on #14
Just adding @pitviper6's thoughts https://github.com/data-lessons/library-openrefine/pull/46#issuecomment-301247560 in reference to point 1 :-)

[2017-05-14 10:16] ostephens commented on #14
@ccronje thanks for all your work around these issues 👍

1. Yes I'm still in favour of breaking this into ~20min episodes
2. Sounds good
3. Think general feel is that 'cross' and 'replace' need adding to current lesson
4. Happy to see Advanced OR lesson

[2017-05-14 11:22] ccronje opened #64 "Modify Exercise 10 to include new columns for family & first name(s) using GREL"
Modify Exercise 10 in episode http://data-lessons.github.io/library-openrefine/04-basic-functions-II/ to include the creation of new columns for family name and first name(s), using a GREL transformation.

(from discussion https://github.com/data-lessons/library-openrefine/issues/14#issuecomment-223933396)

[2017-05-14 11:43] ccronje opened #65 "Discuss & develop an Advanced OpenRefine lesson"
Some ideas:

1. Advanced GREL examples (see discussion https://github.com/data-lessons/library-openrefine/issues/14#issuecomment-223933396)
2. Build on examples and topics in the advanced episode http://data-lessons.github.io/library-openrefine/05-advance-functions/
3. More API examples using GREL to pick apart the XML/JSON
4. Named entity extraction (see discussion https://github.com/data-lessons

[2017-05-14 11:49] ccronje commented on #14
No worries @ostephens, thanks for your help. I've created the new issues and added the mozsprint label to the other two 'split into more granular' issues.

[2017-05-14 11:51] ccronje commented on #2
Ok to close this now it's referenced in https://github.com/data-lessons/library-openrefine/issues/65?

[2017-05-22 08:11] drjwbaker commented on #60
On this, see feedback on the recent Pittsburgh workshop at http://pad.software-carpentry.org/2017-05-18-pitt I used a handout for Shell and seem to have set a precedent! Note that handout I use (attached) is a reference guide rather than a step by step guide to the lesson. This may not work for Refine, but having just taught it I'm sure @jt14den will have some comments on what could work [LibCarp-

[2017-05-22 14:41] jt14den commented on #60
@drjwbaker, thanks for putting up the feedback. I def. liked your use of a handout in class. I'm wondering if we can use reformulated keypoints in the template as bullets for a handout?  Check out the shell reference pages for SWC unix: https://swcarpentry.github.io/shell-novice/reference/. Each episode's key points will populate the reference page for the lesson. We are currently missing a `refer

[2017-05-23 10:29] ccronje opened #66 "Improve lesson objectives"
Improve the lesson/learning objectives in the Overview box at the top of each episode e.g. http://data-lessons.github.io/library-openrefine/03-basic-functions-I/, http://data-lessons.github.io/library-openrefine/04-basic-functions-II/.

Please see **Writing Learning Objectives** http://swcarpentry.github.io/instructor-training/19-lessons/.

[2017-05-23 13:55] drjwbaker commented on #60
I like the idea of using `reference.md`. I don't like the idea of going into quite as much detail as the SWC example.

[2017-05-23 17:54] jt14den commented on #60
I agree, I think the key points should be in the 7+-2 range or even 5+-2.

[2017-05-31 10:25] ostephens commented on #66
Ideally coordinate this with any work on #14 and #15 which propose breaking down the current episodes into smaller chunks - we can then have more specific lesson objectives for the smaller episodes

[2017-05-31 10:26] ostephens commented on #65
Another idea:
5. using Jython to do things that are hard/impossible in GREL

[2017-06-01 01:11] ccronje commented on #59
@ostephens I've tested the lesson with version 2.7-rc.2 and could not find any issues. Would be good for others to test as well. I'm on a Mac OS X Yosemite v10.10.5, using Chrome browser.

If it checks out ok for others we can update the setup instructions https://data-lessons.github.io/library-openrefine/setup/

[2017-06-01 01:40] ccronje commented on #38
@ostephens I like your idea of changing the dataset for ISSN to demo replace. I taught this lesson yesterday and another example came to mind. After Exercise 8 (converting to Titlecase) - there are words you wouldn't want in title case e.g. **Path Finder Process Validation Of Moist Heat Sterilizer In Parentral Manufacturing Unit** versus **Path Finder Process Validation of Moist Heat Sterilizer in

[2017-06-01 01:43] weaverbel commented on #38
I can definitely say that librarians are keen to see a working example of GREL value.replace @ostephens @ccronje - @pitviper6 and I showed them a simple one at MIT. I agree it needs to be meaningful but it would be good to create one that we could use.

I also do a join columns/split columns example!

[2017-06-01 06:49] ccronje commented on #64
@ostephens is this meant to go at the end of the current exercise, after fixing up the order of names? If it's a column split though, how are middle names handled to prevent misalignment of first name, (middle name(s)), last name?

Or is the idea here to pull out names? Last name `value.split(" ")[-1]` If so, I couldn't figure it out how to handle the variability of middle names 🌵

[2017-06-01 07:07] ostephens commented on #64
I think what we wanted to demonstrate here was the 'Add new column based on this column' functionality. So yes something like value.split(" ")[-1] for family name and value.split(" ")[0] for first names.

However, names are a PITA so this is never going to be perfect. Options I can see:

* Demonstrate the 'Add new column' function in a different way
* Use the imperfect approach
* Use the imperfect

[2017-06-01 07:32] ostephens commented on #64
Reviewing comments in #14 again it maybe that we didn't really have in mind whether this was done via 'split' or 'add'. Relevant quote from that thread:

@weaverbel said:

@ostephens replied:

It's too long ago to remember exactly what I was thinking, but potentially I was thinking that splitting the values across columns might make more sense than reversing the given/family name order (which is w

[2017-06-01 09:02] icecjan commented on #64
At our session a few weeks ago, people actually found learning the trick to reverse names useful. So we did an optional challenge to transform the author names to Last name, First name format. I added this to my repo today, I'll send a pull request so you can assess if it's suitable?

[2017-06-01 10:10] ostephens commented on #64
Thanks for this @icecjan - just made comments on the PR. I think we should integrate this as part of the overall exercise rather than an optional challenge.

Hope comments are useful - get back to me here or on the PR if you have questions or disagree with any of my comments :)

[2017-06-01 10:50] ostephens commented on #65
Suggest we move this discussion to a Etherpad to give us a bit more of a collaborative place to discuss syllabus for Advanced OR lesson. Have setup this at http://pad.software-carpentry.org/library-advanced-or

[2017-06-01 11:47] drjwbaker commented on #60
@jt14den Sadly putting regex in the keypoints section of a lesson breaks the header. So I've just done this http://data-lessons.github.io/library-data-intro/reference/ instead for the intro lesson.

[2017-06-01 13:35] drjwbaker commented on #60
See https://github.com/data-lessons/librarycarpentry/issues/30 for how to manage this once you do it :)

[2017-06-01 13:47] ostephens commented on #14
So how about this as a proposal for breaking this down a bit - have the following episodes

1. Layout of OR, Rows vs Records
2. Reordering/Renaming Cols; Sorting;
3. Filters, Facets and Clustering

This splits a 60 min episode into three which I think is about right, but I'm not completely sure these are equally balanced (so about 20 mins each) - although I think the structure is logical. Also mea

[2017-06-01 16:04] ostephens commented on #14
See PR #72

[2017-06-01 18:54] jmjamison opened #74 "Exercise 1 might be clearer with a screen capture"
'Exercise 1: Create your first Open Refine project (using provided data)' might be clearer with a screen capture that has items mentioned in the exercise labeled.  (I'll get started with this one.)

---

[2017-06-01 19:40] jt14den commented on #74
I think this is a good idea. When I teach the R lesson in SWC, there are two screen caps of R Studio in the opening episode. One for the loading data page in Open Refine could help.

[2017-06-01 19:47] cmacdonell commented on #74
Yes, screencaps are really good when starting out with such a graphical tool as OR, similar to RStudio.

[2017-06-01 20:46] scottcpeterson commented on #74
Going through OR with Kate, and she said a screen shot of the loading data page would be helpful.

[2017-06-01 21:09] scottcpeterson commented on #74
Step 4 and 5 of loading the data in OR might be better explained by a screen shot and saying that "Ensure the first row is used to create the column headings by checking the box Parse next 1 line(s) as column headers," and the same with following step, "Make sure OpenRefine doesn’t try to automatically detect numbers and dates by making sure that parse cell text into numbers, dates... is unchecked

[2017-06-01 22:52] JohnBorghi opened #86 "When to use/not to use."
This is based on a conversation here at Berkeley, so credit to @scottcpeterson as well.

As part of the introduction about the uses of OpenRefine, it might be useful also discuss its limitations and when it should be used independently versus in concert with other tools (regex, Python, etc).

[2017-06-01 23:30] rjaffe commented on #86
Recently, I used Open Refine to clean values gathered in a Google sheet and then to count the number of times a variety of terms appeared in the sheet. The counting I did by manually faceting two columns and then by filtering on ten or so terms in each column. By the fifth or tenth time I had repeated this exercise (as the spreadsheet changed), I realized that I would be better off to script the p

[2017-06-01 23:52] rjaffe commented on #86
Scott shows me that I can use the transformations>reuse  function to "replay" actions.

[2017-06-01 23:57] allisonbrown44 opened #87 "Exercise language does not match Refine"
In this case you need to:
3. Set the ‘Character encoding’ to UTF-8
4. Ensure the first row is used to create the column headings
5. Make sure OpenRefine doesn’t try to automatically detect numbers and dates

3 - 'Set the' does not make it clear that you have to click in the box
5 - Where do you check that Refine will not automatically detect numbers and dates? Is it related to 'Parse cell text int

[2017-06-02 06:08] ccronje commented on #64
Thanks @ostephens and @icecjan - I worked through your exercise Owen and tried to flesh out the steps, which took the exercise on a slightly different turn towards the end. See what you think. The Name column still has the commas to play around with, so @icecjan's challenge/solution drop-down could still be added onto the challenge.

1. Create copy of Authors column so we can work on it while keep

[2017-06-02 06:10] weaverbel commented on #64
Hey @ccronje Got time to put into the zoom to chat? https://aarnet.zoom.us/j/949264483

[2017-06-02 06:30] ccronje commented on #64
Awesome to chat with you @weaverbel thanks for the ping :-)

[2017-06-02 07:22] #14 closed

[2017-06-02 07:30] ccronje commented on #38
New smaller episode http://data-lessons.github.io/library-openrefine/06-basic-functions-IV/ could be a good place to exercise splitting/joining columns.

[2017-06-02 07:49] icecjan commented on #64
Hi @ccronje @ostephens thanks for the comments! Sorry for the late reply, been doing other things today. I'm new to collaborating in GitHub so I'm sorry if I submitted a pull request too early!

Agree with all of the above. The reason I did it as a challenge was that participants at our session loved doing the challenges after they followed the step-by-step exercises, which helps them to remember

[2017-06-02 07:55] ccronje commented on #38
New smaller episode http://data-lessons.github.io/library-openrefine/06-basic-functions-IV/ might also be a good place to do a VLOOKUP type exercise.

[2017-06-02 07:56] ostephens commented on #74
Fixed by #84

[2017-06-02 07:56] #74 closed

[2017-06-02 07:59] ostephens opened #91 "Remove Clustering from 04-basic-functions-II"
Needs removing from 04 as is already in 05

[2017-06-02 08:18] ostephens commented on #86
When I do OpenRefine training (outside LC) I include a short section on other tools where I cover the following:

**Is OpenRefine the right tool?**

- Excel - familiarity, better for data entry, cut and paste operation, no paging to navigate
- Google Spreadsheets - similar to Excel, can get external data relatively easily, easy to collaborate and share Google Fusion Tables - if you just want to fi

[2017-06-02 11:13] ostephens commented on #91
Fixed by #92

[2017-06-02 11:13] #91 closed

[2017-06-02 11:15] ostephens opened #94 "Episode 4: Add Learning Objectives/Questions/Keypoints/Timing"
Add:

- Learning Objectives (see also #66)
- Questions
- Key points
- Timing

Information to the header of 04-basic-functions-II.md

[2017-06-02 11:16] ostephens opened #95 "Episode 5: Add Learning Objectives/Questions/Keypoints/Timing"
Add:

Learning Objectives (see also #66)
Questions
Key points
Timing
Information to the header of 05-basic-functions-III.md

[2017-06-02 11:17] ostephens opened #96 "Episode 6: Add Learning Objectives/Questions/Keypoints/Timing"
Add:

- Learning Objectives (see also #66)
- Questions
- Key points
- Timing

Information to the header of 06-basic-functions-IV.md

[2017-06-02 11:22] ostephens opened #97 "Episode 6: Extend with examples"
The re-worked episodes structure has left this episode rather thin.

It needs at least some exercises added in. Potentially it could be well served by some additional content but not sure what.

Please add Exercises as priority, and discuss potential additional content in this issue

[2017-06-02 11:31] ccronje commented on #97
@ostephens would this a good place to add exercises demonstrating:
1. Splitting/joining columns
2. Cross function (vlookup type functionality)
What do you think? It's deeper in the lesson so tempted to dive in rather than skim surface.

[2017-06-02 11:34] ostephens commented on #97
+1 for Splitting/Joining columns
Possibly Cross needs to be after 'Transforms' have been introduced more generally. Essentially everything up until this point in the lesson is 'point and click' functions. It's only when you go to Basic Functions V that you start working with GREL - this was a deliberate structure when I first wrote the material, and I think it works still.

So Definitely on using

[2017-06-02 12:03] ccronje commented on #59
If someone can please test version 2.7-rc.2 on Windows and a more recent macOS that would be much appreciated.

[2017-06-02 12:49] ccronje commented on #86
Agree it's important to talk about each tools' strengths and weaknesses. Good to be flexible.

@rjaffe wrt first comment, were you looking for specific terms? Would `value.contains("term")` have been useful? Or were you exploring? Would `Facet > Customized facet > Word facet` have helped?

[2017-06-02 13:01] ostephens opened #102 "Basic Functions II: Incorrect Challenge answer"
The change to the order of the lesson has broken the Challenge currently labelled 'Exercise 2'. It has the Q:

Q: How many articles in the file don’t have a licence assigned?
A: 6

However, with the 'split multi-valued cells' exercise now in Basic Functions I, you cannot easily divine the answer to the number of non-licenced articles from this facet - as the facet count gives in rows not in record

[2017-06-02 13:03] ostephens commented on #102
This also affects Exercise 3 in same episode

[2017-06-02 13:08] ostephens commented on #102
Options I can see:
- Rethink order of lesson again
-  Change these exercises
- Get participants to reverse the Author/Subject split with the 'Merge multi-valued cells' function in Basic Functions I (could be the exercise in place of splitting subjects?) before doing this part of the lesson.

Think the last one is the most sensible - and possibly gives a good opportunity to highlight some of the sh

[2017-06-02 13:14] ostephens opened #103 "Basic functions V: Exercise 10 repeated"
The Exercise 10 heading (and some text) repeats in this episode. Also a formatting issue with the 'Click OK' instruction

[2017-06-02 13:20] drjwbaker opened #104 "Align objectives with learning outcome language in Bloom's"
See http://swcarpentry.github.io/instructor-training/19-lessons/ When development is done (great job!!), please edit learning outcomes so they fit the language in Bloom’s taxonomy. The most important think I learnt about this from Instructor Training is that we cannot use 'understand' as it isn't measurable.

[2017-06-02 13:23] ostephens commented on #104
We already have an issues for this #66

Closing this in favour of #66

[2017-06-02 13:23] #104 closed

[2017-06-02 13:32] ostephens commented on #59
Tested this with 2.7-rc.2 on macOS Sierra, using Safari as browser - all worked OK

Think on this basis we can update the guidance in setup?

[2017-06-02 13:41] ccronje commented on #102
@ostephens if you are happy with the new order, getting the learners to split and merge might be the way to go (perhaps merge with a different separator to add something new). I think to leave it split leading into the next episode will be too confusing. Then add the split again as step one of Clustering.

[2017-06-02 13:43] ccronje commented on #102
But if you want to demo the 'cautions' around split and record mode you could append it to Ex. 2 or 3?

[2017-06-02 13:43] ostephens commented on #102
@ccronje what do you think of the new order?

I like that it gets to some 'meat' more quickly, and in terms of general principles introducing rows vs records earlier makes sense - it's just that Records get complicated quickly!

[2017-06-02 13:47] ccronje commented on #102
@ostephens agree, it's grown on me already :smile:, and I think librarians like the Records mode, being database savvy. Plus it's a nice 'different to Excel' to highlight early.

[2017-06-02 13:47] ostephens commented on #102
Another possibility - chance to demonstrate the Undo/Redo option early in the lesson?

[2017-06-02 13:51] ccronje commented on #102
I don't mind Undo/Redo where it is because:

1. Provides a breather
2. Many steps have been performed by that point so clear demo

[2017-06-02 13:53] ccronje commented on #102
And the Exporting data section that follows on from Undo/Redo demos the time-saving aspect nicely when you have a long list of processes captured.

[2017-06-02 13:56] ostephens commented on #102
OK - will wait for @jt14den to comment but currently thinking:

* Leave the Split exercises in  Basic Functions I
* Do the Facet and expose the problem of being in Records mode
* Re-merge cells (Author and Subject)
* Look at facet again showing how it works

[2017-06-02 13:59] ostephens commented on #103
See PR #105

[2017-06-02 14:00] ostephens commented on #102
Although just of Undo/Redo note that in the USU scratchpad yesterday the question of mentioning this earlier was brought up http://pad.software-carpentry.org/lc2017-usu

[2017-06-02 14:51] ccronje commented on #102
@ostephens I added a comment wrt Undo/Redo above. In reference to your bullet points, learners would have to make sure they're in Records mode in order to spot the count issue. Being their first exposure to Facets it might be a bit too much to problem solve, but will be good to hear comments from @jt14den and others.

[2017-06-02 14:57] ostephens commented on #102
Thanks @ccronje - yes I recognise the advantage of having a substantial list of steps to fully demonstrate Undo/Redo - that was my immediate reaction on seeing the suggestion yesterday so glad we had the same thought :)

They should already be in Records mode - as this is part of the previous episode. However, it won't matter if they are or not in terms of seeing the large number of items in the F

[2017-06-02 14:59] #103 closed

[2017-06-02 15:26] Jabble opened #106 "Rename lessons based on concepts covered to improve flow"
I'm brand new to teaching and contributing to Library Carpentry, and find it difficult to know what is covered in a lesson without transparent naming (e.g. "Basic Functions" 1–5) and then recall which lesson includes what.

More informative lesson names can help learners, and contributors, get to know what will be covered in a particular lesson from the outset, and hone-in on the content they're i

[2017-06-02 15:52] ostephens commented on #106
Mainly +1 to this - but can we separate out the 'renaming' bit from the 'merge into' and 'split into' suggestions?

I'm 100% in favour of renaming - please go ahead  along the lines you've suggested.

The restructuring is a bigger challenge and just done a load of work on this to get to where we are right now. More needs doing but want to try to settle in the changes that have already been made be

[2017-06-02 15:56] ostephens opened #108 "Change recommended OR version to 2.7rc2"
Lesson has been checked with OR 2.7rc2, and as the latest RC this should now be the recommended version. This needs updating in setup.md

[2017-06-02 18:08] jmjamison commented on #86
About "transformations>reuse function to "replay" actions".  Might be had to locate for new user.  Maybe a walk through example would help.  (Helpful but I didn't realize it was there till I read this issue.)

[2017-06-02 18:16] jt14den commented on #106
+1 to renaming, but I agree with @ostephens on the restructuring bit and think we now have a decent sized episodes to work with.

[2017-06-02 18:19] Jabble commented on #106
Great, and I agree with both of you about my issue. I read through some of the discussions about restructuring, but am not sure exactly where they're at. This was aimed more at making the point that renaming can help in thinking about the structure. I'll practice making my issues more discrete!

[2017-06-02 18:30] ostephens opened #111 "Basic Functions I: Add demonstration of 'Join'"
Add demonstration + exercise for 'join multi-valued cells' to Basic Functions I - this is important for lesson flow as the next episode has an exercise that only works when in single row mode

Update timings/questions/objectives/keypoints if necessary

[2017-06-02 19:27] ostephens commented on #108
Fixed by #109

[2017-06-02 19:27] #108 closed

[2017-06-02 19:31] ostephens commented on #87
Wording now amended to fix this by #81 and #113

[2017-06-02 19:31] #87 closed

[2017-06-02 19:35] ostephens commented on #106
Fixed by #112
Discussions about structure will be dealt with under the relevant issues

[2017-06-02 19:35] #106 closed

[2017-06-02 20:01] rjaffe commented on #86
@ccronje I was trying to count the number of times a specific term appeared. So, value.contains("term") successfully modifies the value in the field to True or False. The next step would be to count the number of True values. Then @jmjamison  to repeat in an automated manner for 10 or so terms in each of two columns.

Background: In a spreadsheet about consulting or reference cases dealing with se

[2017-06-02 20:09] rjaffe commented on #86
Perhaps the lesson outcome is: clean the data, export to a csv, and do the counting in the BASH shell. That would add a nice arc to the day.

[2017-06-02 20:11] ostephens commented on #86
I suspect you could do the counting in OpenRefine but I'm not sure I've quite got my head around your use case - if you are interested in digging into this post an made up example with some dummy data and I'll have a look.

Agreed that export then use in another tool would be nice link to other lessons, but I think we need to keep them separate as we can't always assume that lessons will happen in

[2017-06-02 20:18] ostephens commented on #102
Agreed that we'll fix this by teaching the 'join multi-valued cells' function in Episode 03. See #116

[2017-06-02 23:59] rjaffe commented on #86
Thanks Owen, Jamie and Carmi! Here's a test data set to illustrate. Have a good weekend!\

[Reference-Consultations-Sensitive-Research-Data-TESTDATA.csv.zip](https://github.com/data-lessons/library-openrefine/files/1049184/Reference-Consultations-Sensitive-Research-Data-TESTDATA.csv.zip)

[2017-06-03 00:02] rjaffe commented on #86
Scott points out that Facet > Customized Facet > Word Facet will give me count of individual tags.

[2017-06-03 09:41] ostephens opened #118 "Add instruction to split authors in Episode 5 Clustering"
Changes to the flow of the lesson means that when you get to clustering the authors will still be together in a single cell. Need to add an instruction to split multi-valued cells into this episode somewhere

[2017-06-03 09:42] ostephens commented on #111
See #116 for progress on this

[2017-06-03 09:43] ostephens commented on #102
Closing this as now under issue #111  and PR #116

[2017-06-03 10:14] ostephens commented on #86
@rjaffe so does that Word Facet give you exactly what you want?

If you want to count across both columns together, you can use a "Custom Text Facet" with GREL like:

`(cells["Regulatory tags"].value + " " + cells["Data Activity tags"].value).replace(/\n/," ").split(" ")`

Or if you wanted to know how often two terms appeared across the two columns the rather more complicated:

`forEach(cells["Reg

[2017-06-03 10:25] ostephens commented on #86
Oh and finally finally just to check you know that when you have a facet that does the sort of counting you want, you can get a cut/pastable table of the facet values and counts by clicking on the 'xx headings' link at the top left of the facet panel

[2017-06-04 06:34] ccronje commented on #65
Relevant to this discussion: https://github.com/data-lessons/library-openrefine/issues/86

[2017-06-09 09:12] ostephens commented on #111
Fixed by #116

[2017-06-09 09:13] #111 closed

[2017-06-09 09:13] #102 closed

[2017-06-09 14:36] ccronje commented on #118
Completed via https://github.com/data-lessons/library-openrefine/pull/121

[2017-06-09 14:36] #118 closed

[2017-06-09 15:53] ccronje opened #127 "Formatting consistency ('follow the instructor' versus 'exercise')"
Some boxes that are labelled Exercises at the moment aren’t Exercises in the SWC sense. What would be a consistent way to distinguish between 'Follow the instructor' and an 'Exercise'? Which blockquote classes should we use? See http://swcarpentry.github.io/lesson-example/04-formatting/ for blockquote class styles.

Suggestions discussed on Gitter:

For 'Follow the instructor'
- use blockquote cla

[2017-06-09 23:36] ccronje opened #128 "Add workaround in setup incase IT issues"
Shall we add https://my.datascientistworkbench.com/ (a virtual lab which includes OpenRefine) to [Setup](http://data-lessons.github.io/library-openrefine/setup/)?

@weaverbel has tested the lesson with it and reported "Great response times, it all worked. Good option for workshops IMHO."

[2017-06-10 09:42] ostephens commented on #128
I'm happy if it all works smoothly. Do we know which version of OR they run?

[2017-06-10 10:50] ccronje commented on #128
@ostephens it's version 2.6-rc1

[2017-06-10 19:56] pitviper6 commented on #38
I have been thinking about this, and I've been trying to come up with an example that isn't more easily done using faceting or clustering, or that finds/replaces in a way that makes more sense in a GREL use.

Perhaps finding an example where you want to change at least two instances instead of just one? What is the best context for using the GREL replace function vis-a-vis the other ways you can r

[2017-06-12 08:18] ostephens commented on #128
Thanks @ccronje

[2017-06-12 08:42] ostephens commented on #38
I've submitted a PR #129 to change a couple of trailing 'x' to lowercase. We can then add a demonstration of 'replace' changing the lowercase x to an uppercase X.

If we want this can be combined with a custom text facet on the ISSN col to find the relevant rows:
`value.endsWith("x")`

[2017-06-12 11:04] ccronje commented on #38
Thanks @ostephens, I've merged the PR and will keep this open for any further discussion about new exercise.

[2017-06-16 08:24] drjwbaker commented on #60
When you get on this, see how http://data-lessons.github.io/library-data-intro/reference/ handles it for reference.

[2017-06-16 08:27] drjwbaker opened #130 "Instructor Notes"
This lesson has no Instructor Notes http://data-lessons.github.io/library-openrefine/guide/. These are helpful for passing on tips to potential instructors. See http://data-lessons.github.io/library-data-intro/guide/ for an example of how this might be done.

Tips specific to Refine might relate to the difficulty of getting the text on the screen big enough for live demos and workarounds you've de

[2017-06-20 08:29] drjwbaker opened #131 "Add authors to AUTHORS file"
We now have a workflow for releasing citable versions of our lessons (with DOIs) every 6 months via Zenodo. This makes our more discoverable and sustainable and ensures that everyone involved gets the credit they deserve. For more on this work see https://github.com/data-lessons/librarycarpentry/issues/5

In order to make this happen we need to make one crucial change: all AUTHORS files need to ch

[2017-06-20 09:41] drjwbaker commented on #60
We have a request for a workshop in Italy in September. The workshop will be lead in English with Italian helpers. To make this work they are asking for there to be a handout in English that can be translated into Italian.

Maintainers @ostephens @ccronje @pitviper6: I see you've been doing lots of this already. Do you think there are more work to be done and if so any chance this work can be done

[2017-06-22 02:07] ccronje opened #132 "Testing the lesson with OpenRefine v2.7"
The lesson tests ok with the latest version https://github.com/OpenRefine/OpenRefine/releases/tag/2.7 up to and including the CrossRef API example (haven't had a chance to go beyond that).

There is an issue (not lesson-related) where it hangs doing a **regular expression** search using the **Text filter**. I've been able to reproduce it but would be good to get confirmation from others.

[2017-07-09 11:34] ccronje opened #135 "Remove numbering from all exercises"
An action from meeting http://pad.software-carpentry.org/post-lc2017 (OpenRefine Discussion Agenda)

The reason for removing numbers is so shifting/adding new exercises becomes more manageable.

[2017-07-09 11:36] ccronje commented on #132
Should we update http://data-lessons.github.io/library-openrefine/setup/?

[2017-07-09 11:38] ccronje commented on #131
@jt14den can you please let us know if this has been actioned?

[2017-07-09 11:46] ccronje commented on #130
Added comments to https://github.com/data-lessons/library-openrefine/pull/134. Closing this now thanks @drjwbaker.

[2017-07-09 11:46] #130 closed

[2017-07-09 12:00] ccronje commented on #127
Outcome from meeting http://pad.software-carpentry.org/post-lc2017 (OpenRefine Discussion Agenda):

Questions
1. Is using 'checklist' for 'Follow the instructor' misusing the SWC style?
No. We decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challeng

[2017-07-09 12:06] ccronje commented on #66
Closing this high-level issue in favour of the episode-specific ones created by @ostephens.

[2017-07-09 12:06] #66 closed

[2017-07-09 12:14] ccronje commented on #15
Restructuring suggestion from meeting http://pad.software-carpentry.org/post-lc2017 (OpenRefine Discussion Agenda):

1. Built-in transformations
2. Writing transformations
3. Undo-redo, extract-apply, export
4. Data types
5. Arrays

Also discussed:
- Re-working the array section, maybe use alternative example to the 'days of the week' e.g. demo array examples in GREL preview window using Subject c

[2017-07-09 12:27] ccronje commented on #127
Not sure how to action Question 1. Maybe we could create an issue for each episode and assign? Then do the same once https://github.com/data-lessons/library-openrefine/issues/15 is completed.

[2017-07-10 03:59] weaverbel commented on #132
Yes !  It doesn't mention needing Java Runtime Environment to work but that is a deal breaker - no Java, no OpenRefine.

[2017-07-10 04:02] weaverbel commented on #132
Maybe punch up the JRE info or bold it a bit?

[2017-07-10 09:17] ostephens commented on #127
@ccronje I think an issue for each episode the best way to go.
I'd suggest that we do this across all current lessons - I think it would be better to do this for Episode 7 before we split it (because changing style doesn't need any discussion now, but the split is bound to take time and discussion)

[2017-07-10 14:36] jt14den commented on #131
@ccronje I moved the publish date to July - the script I'm using sets the release date as YYYY-MM -- and I figured we need a little review time for maintainers. What James wrote above has changed a bit: the release script will create a branch named 2017-07 and push up to the repo. You'll need to review the AUTHORS (the script will populate that file) in that branch and I'll pull down changes prior

[2017-07-11 11:04] ccronje commented on #128
@ostephens @weaverbel (& others) do you think we should add this workaround? If yes, is it best placed in http://data-lessons.github.io/library-openrefine/setup/ or http://data-lessons.github.io/library-openrefine/guide/?

[2017-07-11 11:06] ccronje commented on #131
@jt14den thanks for the update :+1:

[2017-07-11 11:49] ccronje commented on #127
@ostephens good idea - if you can think of a good issue title I'll create the issues 👍

[2017-07-12 04:56] weaverbel commented on #128
Happy for it to be added @ccronje with a caveat that it is not a service under our control so it might go away at some stage.

[2017-07-12 07:38] ccronje commented on #128
Ok thanks @weaverbel, add it to the setup or guide?

[2017-07-12 08:04] weaverbel commented on #128
Guide, I'd say - if it's in set up, we have a problem ;-) @ccronje

[2017-07-12 08:12] ostephens commented on #128
+1 to adding to guide

[2017-07-12 08:36] ccronje commented on #128
Ha yes, thanks @weaverbel @ostephens I've added it to https://github.com/data-lessons/library-openrefine/pull/134. Closing this now.

[2017-07-12 08:36] #128 closed

[2017-07-12 08:39] ccronje commented on #132
Thanks @weaverbel I've updated setup https://github.com/data-lessons/library-openrefine/pull/137. Closing this now.

[2017-07-12 08:39] #132 closed

[2017-07-12 08:41] ccronje commented on #135
Please see linked PRs. Closing this now.

[2017-07-12 08:41] #135 closed

[2017-07-12 08:41] ccronje commented on #127
Sorry I was feeling very lazy last night, I'll think of something ;-)

[2017-07-12 08:42] ostephens commented on #127
@ccronje happy to pick this up - just trying to get a report written at the moment and haven't had a chance to look at anything else for the last 2 days. Hoping to surface tomorrow!

[2017-07-13 09:21] drjwbaker commented on #15
Further to chat with @ostephens on Gitter, the current position of the export bit in this episode feels awkward. The Refine instructor at the event I helped at this week moved it to the end of the episode because they thought that made for a better conclusion (they didn't get to the following episode, so export became the end of the lesson). Do with that observation what you will!

[2017-07-14 08:01] ccronje commented on #15
Thanks for the feedback @drjwbaker - @ostephens I do like the idea of finishing up the lesson with exporting data. Perhaps the lesson could finish on the CrossRef API advanced exercise, followed by Extract/Apply and Export? Undo/Redo seems to sit well with the GREL as people get a bit anxious at this point about making mistakes.

[2017-07-14 08:15] ostephens commented on #15
I think when we split out this episode into smaller parts we should look at expanding the Export section (to cover different types of export). We can then decide where it should go in the default order - from a lesson flow perspective I think putting it at the end makes sense - I just wouldn't want it to be skipped in the case where your weren't able to cover all the material (whereas I think some

[2017-07-14 08:31] ccronje commented on #15
That sounds like a sensible way forward @ostephens

[2017-07-14 23:33] ccronje commented on #61
A common library problem is looking for title overlaps between vendors. I've been playing around with the cross function to try see how it works.

Using the lesson's data I created two identical projects.

1. In Project 1, on the ISSNs column I added a column based on this column using:
`cell.cross("Project 2", "ISSNs")[0].cells["Citation"].value`
This seems to work fine.
2. In Project 2 I deleted

[2017-07-17 10:42] ostephens commented on #61
Hi @ccronje

Order doesn't matter when using cross function.

At the moment your cross expression `cell.cross("Project 2", "ISSNs")[0].cells["Citation"].value` just finds the first match. The way you use the 'cross' expression might depend on exactly what you are trying to do, but generally I wouldn't just drop additional matches unless I was really confident this was OK.

If I want to know 'are t

[2017-07-19 08:30] ccronje commented on #61
Thanks @ostephens this is really helpful. I didn't mean to stop at the first match so thanks for pointing that out. The blog post describes the type of things we're trying to do in e-resource management as well. Coverage seems to be the hardest part to unravel. Fingerprinting the title is an interesting approach!

[2017-07-20 02:01] richyvk opened #145 "Using Python/Jython in custom facets"
I think it would be good to mention that you can do this, and maybe have a very short example. There seems to be very little written about this generally from what I can tell. Today I learned as long as you add a return statement you are good to go in using Jython statements to facet, but it took me a while to find even this basic info.

[2017-07-20 02:07] richyvk commented on #145
Actual;l;y, mayeb the return thing was my fault - I think I deleted it - seems it does get added automatically when you do a custom facet

[2017-07-20 08:42] ostephens commented on #145
I think this could work as part of the more advanced OR lesson.
A good resource for getting started with Jython in OR is https://github.com/OpenRefine/OpenRefine/wiki/Jython which includes information on how to add and use Python and Java libraries by using Jython in OR

[2017-07-20 22:08] richyvk commented on #145
You're right of course Owen. It is a bit advanced perhaps. Thanks for the link, that's the page I found that helped me :)

It's really pretty amazing what you can do with OR and Jython isn't it!

I am planning on teaching the OR lesson later int he year, I might mention the capability, and maybe do a simple demo. If I do I'll fork the lesson and make some additions for future consideration.

[2017-07-21 08:32] ostephens commented on #145
Thanks @richyvk - let us know how it goes :)

[2017-07-21 17:02] evanwill commented on #145
I have a lesson coming out that uses Jython in Refine to implement a POST request, which really extends the possibilities for APIs or web scraping (I will add the link here when it's published). In general Jython is great if you already have a handy way in Python to do what you want, but if you are spending a lot of time messing around with it, you are better off just working in Python directly, s

[2017-07-24 10:44] ostephens opened #146 "Episode 2: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:45] ostephens opened #147 "Episode 3: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:45] ostephens opened #148 "Episode 4: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:46] ostephens opened #149 "Episode 5: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:46] ostephens opened #150 "Episode 6: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:47] ostephens opened #151 "Episode 7: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:47] ostephens opened #152 "Episode 8: Add Checklist formatting to any step-by step directions participants are expected to follow"
In #127 we decided to use checklist formatting (e.g. http://www.tim-dennis.com/libcarp-pitt-notes-exercises/03-basic-functions-I/) for directions which participants can follow, and Exercises (blockquote class 'challenge') for proper exercises where participants are expected to work out an answer/approach for themselves. This may mean converting some of the existing text or exercises into checklist

[2017-07-24 10:50] ostephens commented on #127
OK - have added issues for each episode to re-format step-by-step episodes. I'm guessing that we'll need further review of each episode once this is done, but let's get these done first

[2017-07-26 07:40] ccronje commented on #127
Thanks @ostephens! I plan to make a start end of next week (I'll assign myself to an issue when I do so you know)

[2017-07-27 08:40] drjwbaker opened #153 "Backup when refine not working"
Sometimes Refine doesn't work on an attendees laptop: it is installed incorrectly, they've installed the wrong thing, it just unfathomably doesn't work.

Now, peer programming is great from a pedagogical point of view, so "work with someone else" is a good option. But prompted by @weaverbel, we should consider adding a backup to our Instructor Notes.

Is http://refinepro.com/ the best option here?

[2017-07-27 08:45] ostephens commented on #153
RefinePro have been very supportive of workshops (not specifically LC) in the past and happy to offer free access for workshops - but this needs to be arranged in advance I think.

For adhoc cloud based OpenRefine, at the moment the Data Scientist Workbench looks good https://datascientistworkbench.com (which @weaverbel made me aware of and has used in a workshop I think). It's free to signup and

[2017-07-27 09:45] weaverbel commented on #153
I like the data sci workbench but we must be sure to link to the right place if we do link it. The link @ostephens has listed won't get you to the right spot, I don't think. ThisHIS is the right one: https://my.datascientistworkbench.com/login - the MY in the URL is the crucial bit. And it works a treat and we were able to open the dataset no problems ...

[2017-08-01 07:44] drjwbaker commented on #60
Further to the above, maintainers @ccronje @ostephens : I'm running a LC workhop in Padua with @danmichaelo in 14-15 September. They've asked if we can get the handouts for the lessons in place so they can translate them for the workshop (they want to translate the handouts only, not the lessons!). This is one of the lessons we'll use. Any chance you have something we can use for this that I can g

[2017-08-01 10:41] weaverbel commented on #60
I have created an OR handout that I use myself to teach it - it is a very cut down version to help me teach it without wading through a lot of distracting text. I can share that @drjwbaker if you want it.

[2017-08-03 06:46] drjwbaker commented on #60
Seen as I've never taught Refine, that would be super useful. Are you happy to upload here?

[2017-08-03 21:24] weaverbel commented on #60
It's a  Word doc so I I might just email it to you @drjwbaker

[2017-08-13 04:07] ccronje commented on #146
Hi @ostephens I've made a start on this at https://github.com/data-lessons/library-openrefine/pull/154. Please let me know if the PR is too big, I can scale it back to smaller ones. I figured this episode is a fairly straight forward one.

[2017-08-13 04:16] ccronje commented on #153
Thanks all, https://my.datascientistworkbench.com/ and http://refinepro.com/ are listed as workarounds in the Instructor Notes at http://data-lessons.github.io/library-openrefine/guide/.

[2017-08-13 04:16] #153 closed

[2017-08-19 09:43] ccronje commented on #127
Hi @ostephens @jt14den I've made a start on this with PR https://github.com/data-lessons/library-openrefine/pull/154. I was having trouble previewing in Jekyll, and was wondering @jt14den if you have any advice on how to incorporate http://swcarpentry.github.io/lesson-example/05-checking/ into the workflow http://www.tim-dennis.com/swc/2016/07/25/contributing-carpentries.html? I'm a bit rusty with

[2017-09-04 20:40] evanwill commented on #145
here is my Programming Historian lesson, the last section ("Example 3: Advanced APIs") is about using Jython for HTTP Post request:
<https://programminghistorian.org/lessons/fetch-and-parse-data-with-openrefine>

[2017-09-20 08:13] drjwbaker opened #167 "VIAF exercise"
Re https://github.com/data-lessons/library-openrefine/blob/gh-pages/_episodes/08-looking-up-data.md

So I love the VIAF exercise. It really shows the power of Refine to add data to a dataset. But LC Padova feedback suggests it is too hard. I suspect there are too many new things here for something at the end of a day. Perhaps the big text block can be broken down into more clearly defined chunks,

[2017-09-22 05:11] weaverbel commented on #167
I agree that this is too much - people just get absolutely dazed by the time they get to CrossRef  - best to leave them wanting more and giving them things to explore independently than to keep piling more stuff on and then they leave feeling battered and broken down  @drjwbaker @ostephens @ccronje

[2017-09-22 09:22] drjwbaker commented on #167
I actually didn't do both. Just VIAF. I see this advanced section as an either/or.

[2017-09-22 11:28] pitviper6 commented on #167
I think if we break it into chunks, so that the instructor can have some flexibility about where to stop, it would be great. Every audience is different (some are baffled by this section, some want even more once we've done the reconciliation part if you've got a room full of catalogers who have worked with linked open data).  And if you have a two day workshop where you get an entire day for Open

[2017-09-22 11:30] ostephens commented on #167
Agreed - splitting up this part would be great - already have an issue for this #16

[2017-09-22 14:29] drjwbaker commented on #167
I'll leave it in your capable hands then! Happy to review if and when I'm needed :)

[2017-10-24 09:29] #146 closed

[2017-11-12 05:26] ccronje commented on #147
Hi @ostephens @pitviper6 Do you think the only section that needs checklist formatting in this episode is Splitting & Joining Cells? The exercises look good (a few minor changes formatting menu & column names).

Do you have anything you'd like to add from recent workshops you've taught?

[2017-11-23 00:06] pitviper6 commented on #15
I'm splitting this lesson up (and watching bobsledding).

What about putting the Export into it's own short lesson, so that no matter where the OR lesson ends, the instructor can grab it and end with it? Where you end with OR can depend on the people in the room, so going in you may not end up where you think you're going to. Keeping it free-floating makes it easier to plug in wherever.

[2017-11-23 09:24] ostephens commented on #15
@pitviper6 yes please! I'd like to expand the Export section eventually (see my comment above), so getting what we have in it's own section would be a great first step

[2017-11-26 17:27] pitviper6 commented on #151
Converting the exercises into checklists where appropriate as I break down Episode 7 into smaller chunks (https://github.com/data-lessons/library-openrefine/issues/15)

[2017-11-26 23:08] pitviper6 commented on #150
Done- part of the pull request I just did.

[2017-11-26 23:08] pitviper6 commented on #149
Done.

[2017-11-26 23:09] pitviper6 commented on #148
Done

[2017-11-26 23:09] pitviper6 commented on #147
Done.

[2017-11-27 16:43] pitviper6 commented on #15
@ostephens @ccronje
When you two have time, could you take a look and see if what I did make sense to you? No hurry! but if you two agree this looks good we can go ahead and merge.

[2017-12-16 08:31] #147 closed

[2017-12-16 08:31] #148 closed

[2017-12-16 08:31] #149 closed

[2017-12-16 08:32] #150 closed

[2017-12-16 08:33] #151 closed

[2017-12-16 08:34] #152 closed

[2017-12-16 08:41] #127 closed

[2017-12-16 08:54] ccronje commented on #15
Thanks @pitviper6 :1st_place_medal:

[2017-12-16 08:54] #15 closed

[2018-06-01 14:42] #167 closed

[2018-06-01 14:42] #131 closed

[2018-06-01 14:43] #86 closed

[2018-06-01 14:43] #2 closed

[2018-06-01 14:43] #16 closed

[2018-06-01 14:44] #54 closed

[2018-06-01 14:47] #60 closed

[2018-06-01 14:48] #38 closed

[2018-06-01 14:49] #61 closed

[2018-06-01 14:50] #65 closed

[2018-06-01 14:50] #62 closed

[2018-06-01 14:51] #64 closed

[2018-06-01 14:52] #94 closed

[2018-06-01 14:52] #95 closed

[2018-06-01 14:52] #96 closed

[2018-06-01 14:52] #97 closed

[2018-06-01 14:52] #145 closed